<div class="shape-hold square_"
     style="transform: rotate(-32deg)translate(83px,-50px)scale3d(1,1,1);">
    <svg style="animation-duration:40s;animation-direction:reverse;" class="s-sh-a"
         enable-background="new 0 0 50 50" height="50" viewBox="0 0 50 50" width="50"
         xmlns="http://www.w3.org/2000/svg">
        <path d="m0 0h50v50h-50z" fill="#cedc21" />
    </svg>
</div>
