<div class="shape-hold triangle_"
     style="transform: rotate(-14deg)translate(-18px,-46px)scale3d(2,2,2);">
    <svg style="animation-duration:120s;animation-direction:reverse;" class="s-sh-a"
         enable-background="new 0 0 50 50" height="50" viewBox="0 0 50 50" width="50"
         xmlns="http://www.w3.org/2000/svg">
        <path d="m25 6.514-25 36.972h50z" fill="#1e7a44" />
    </svg>
</div>
