<div class="shape-hold triangle_"
     style="transform: rotate(52deg)translate(-13px,-40px)scale3d(1.4,1.4,1.4);z-index:2;float: right;position: relative;">
    <svg style="animation-duration:50s;animation-direction:normal;" class="s-sh-a"
         enable-background="new 0 0 50 50" height="50" viewBox="0 0 50 50" width="50"
         xmlns="http://www.w3.org/2000/svg">
        <path d="m25 6.514-25 36.972h50z" fill="#cedc21" />
    </svg>
</div>
