:root {
  --body-white: #eeeeee;
  --black-text: #fff;
  --body-back: #f4f5f5;
  --body-back-2: #e5e5e5;
  --button-dark: #202c39;
  --button-dark-secondary: #303942;
  --button-dark-tertiary: #444a50;
  --button-dark-text: #cedc21;
  --lime: #68cf53;
  --lime-text: #3f9b2c;
  --lime-text-focus: #0e4b01;
  --gauze: rgba(0, 0, 0, 0.05);
  --gauze-light: rgba(0, 0, 0, 0.01);
  --shadow-dark: rgba(8, 0, 50, 0.3);
  --shadow-light: rgba(8, 0, 50, 0.15);
  --crimson: #dc143c;
  --amber: rgb(255, 187, 0);
}

*,
::before,
::after {
  box-sizing: border-box;
}

*{
  transition: 0.2s ease;
}

body {
  font-family: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
  background: var(--body-white);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
}

.modular-display-table span, .modular-display-table p, .modular-display-table td, .modular-display-table div, table *{
  font-size: 14px;
  font-weight: 200;
}


th {

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--button-dark-tertiary);
  text-align: left;
}

.page-link {

  border-radius: 5px;
  border: 1px solid;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 6px;
  text-transform: lowercase;
  color: var(--button-dark-tertiary);
  background: var(--gauze);

}
td{
  text-overflow: ellipsis;
}

.field-cut{
  max-width: 6rem;
  overflow: auto;
}

table{
  width: 100%;
  margin: 1rem auto;
}

span.pavpill {

  border-radius: 5px;
  padding: 1px 4px;
  font-size: 11px;
  font-weight: 400;
  display: inline-block;
  text-align: center;

}

.pavpil-expired {
  background: var(--amber);
}
.pavpil-new {
  background: var(--lime);
}
.pavpil-pending {
  background: var(--lime-text);
}


/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("https://include.flat18.co.uk/fonts/montserrat/montserrat-extralight-webfont.eot");
  src: url("https://include.flat18.co.uk/fonts/montserrat/montserrat-extralight-webfont.eot?#iefix") format("embedded-opentype"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-extralight-webfont.woff2") format("woff2"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-extralight-webfont.woff") format("woff"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-extralight-webfont.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("https://include.flat18.co.uk/fonts/montserrat/montserrat-regular-webfont.eot");
  src: url("https://include.flat18.co.uk/fonts/montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-regular-webfont.woff") format("woff"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("https://include.flat18.co.uk/fonts/montserrat/montserrat-bold-webfont.eot");
  src: url("https://include.flat18.co.uk/fonts/montserrat/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-bold-webfont.woff2") format("woff2"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-bold-webfont.woff") format("woff"),
      url("https://include.flat18.co.uk/fonts/montserrat/montserrat-bold-webfont.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
