@{
    Layout = "_LayoutSingleForm";
    ViewData["Title"] = "Email sent!";
}

<div class="build-in-up" id="loginForm_">
    <span class="form-name">@ViewData["Title"]</span>
    <div class="f-el">
        <p>
            We've sent you an email to reset your password.
        </p>
    </div>

    <div class="f-el">
        <a asp-area="Nicolas" asp-action="Login" class="fp-button" id="LoginButton">Back to login</a>
    </div>

</div>
