@model BTCPayServer.Models.StoreViewModels.CreateStoreViewModel
@{
    ViewData["Title"] = "Create a new store";
    Layout = "_SingleForms";
}

            
                <form asp-action="CreateStore">
                    <span class="form-name">@ViewData["Title"]</span>
                    <div class="f-el">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <span class="form-lab">store name</span>
                        <input asp-for="Name" class="form-control form-input" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                        <div class="f-el">
                        <button type="submit" value="Create" class="fp-button" id="Create">create</button>
                        </div>
                </form>
                <a asp-action="ListStores">Back to List</a>
           